/**
  |============================
  | ПОСТІЙНІ КЛІЄНТИ 
  |============================
*/ 
.regular_clients {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}


.clients {
    background-color: #FFFFFF;
    padding-top: 94px;
    padding-bottom: 94px;
}

.pic {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    &__list {
            height: 92px;
            flex-basis: calc((100% - 30px) /2);
                
            @media screen and (min-width: 768px) {
                flex-basis: calc((100% - 60px) / 3);
                    }
                
            @media screen and (min-width: 1200px) {
                flex-basis: calc((100% - 150px) / 6);
                
              
                    }
        }
    
        &__list:last-child {
            margin: 0;
        }
    
        &__promo {
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
        &__list:hover,
        &__list:focus {
            border-color: #2196F3;
        }
            display: flex;
            justify-content: center;
            align-items: center;

        &__log:hover,
        &__log:focus {
           border-color: #2196F3;
        }

}

.pic__log {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 210px;
    height: 92px;

    @media screen and (min-width:768px) {
        width: 226px;
    }

        @media screen and (min-width:1200px) {
            width: 170px;
        }



    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #afb1b8;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.pic__log:hover .pic__promo,
.pic__log:focus .pic__promo {
    fill: #2196F3;

}

