/**
  |============================
  | ФОРМА ДЛЯ ЗАПИСУ МОДАЛЬНОГО ВІКНА 
  |============================
*/ 
.register-form-btn {
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.register-form-link {
    color: #2196F3;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.register-form-desc {
    color: #757575;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.register-form-title {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    display: block;
    text-align: center;
    margin-bottom: 12px;
}

.registers-contacts {

    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;

    color: #757575;
    margin-bottom: 4px;
}

.register-form-heading {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;

    color: #757575;

    margin-bottom: 4px;
}

.register-form-field {
    &:last-child {
            margin-bottom: 0;
        }
        
    display: block;
    margin-bottom: 10px;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 2px;
    margin-right: 9px;

}

.register-form-checkbox:checked+.icon {
    background-color: #2196F3;
    border-color: #2196F3;
    background-image: url(../images/iconcheck1.svg);
    background-size: contain;
    background-origin: border-box;
}

.icon-Vector7 {
    fill: #fff;
}

.register-form-group {
    margin-bottom: 20px;
}

.register-form-agreement {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}

.register-form-btn {
    display: block;
    margin: 0 auto;
}

.register-div {
    position: relative;
}


.register-form-input:hover~.register-form-icon,
.register-form-input:focus~.register-form-icon {
    border-color: #2196F3;
    fill: #2196F3;
}

.register-form-input {
    &:hover,
    &:focus {
            fill: #2196F3;
            border-color: #2196F3;
        }

    position: relative;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color fill;
    outline: transparent;
}


.register-form-icon {
    &:hover,
    &:focus {
            fill: #2196F3;
        }

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    bottom: 11px;
    left: 13.5px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
    fill: var(--title-text-color);
}



.register-form-message {
    &:hover,
    &:focus {
            border-color: #2196F3;
        }
    
    &::placeholder {
            color: rgba(117, 117, 117, 0.5);
        }

    height: 120px;
    resize: none;
    width: 100%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    padding: 12px 16px;
    display: block;

    border: 1px solid rgba(33, 33, 33, 0.2);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color;
    border-radius: 4px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}