
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.last-ftr__contacts:last-child {
    margin: 0;
}

.last-ftr {
        flex-direction: column;
    
    

    // @media screen and (min-width:768px) {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     text-align: center;
    // }
}

.last-ftr__contacts {
    margin-bottom: 9px;

    @media screen and (min-width:768px) {
        margin-bottom: 8px;
    }

    @media screen and (min-width:480px) {
        margin-bottom: 8px;
    }
}

.container_footer {
    background-color: var(--background-color);
}


.last-ftr__address {
    margin-top: 20px;
}

.last-ftr__footer-logo {
    color: var(--primary-white-color);
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;

    cursor: pointer;
}

.last-ftr__location {
    color: var(--primary-white-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;

    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.last-ftr__email, .last-ftr__number  {
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;

    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.last-ftr__location:hover,
.last-ftr__location:focus {
    color: var(--accent-color);
}

.last-ftr__email:hover, 
.last-ftr__email:focus,
.last-ftr__number:hover,
.last-ftr__number:focus {
    color: var(--accent-color)
}


.invite {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-bottom: 20px;
  

    @media screen and (min-width:480px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and (min-width:768px){
    display: flex;
    align-items: center;
    justify-content: center;
    }
    


}

.container_footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap:60px;

    @media screen and (min-width:768px) {
        justify-content: space-around;
        flex-direction: row;
        align-items: baseline;
        width: 738px;
        margin: 0 auto;
    }

        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: baseline;
            width: 1200px;
            justify-content: space-between;
        }

    

}


.social-medias__social-link .social-ftr {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background: rgba(255, 255, 255, 0.1);

    transition-duration: 250ms;
    transition-property: background;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-div {

    &__icon-telegram {
            margin-left: 10px;
            fill: #FFFFFF;
        }

    &__subscribe {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
    
            color: #FFFFFF;
    
            margin-bottom: 20px;
        }

    &__input:hover,
    &__input:focus {
            border-color: #2196F3;
        }

    &__subscribe {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
    
            color: #FFFFFF;
    
            margin-bottom: 20px;
        }



}



.footer-div__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;

    color: #FFFFFF;

    padding: 10px 29px;
    margin-left: 12px;
    width: 200px;
    min-height: 43px;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
}

.footer-div__input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 0;
    padding-left: 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    width: 358px;
    height: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);

    transition-duration: 250ms;
    transition-property: border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

// .footer {
//     padding-top: 60px;
//     padding-bottom: 60px;
//     background-color: #2F303A;
// }

// .footer__container {
//     text-align: center;

//     @media screen and (min-width:768px) {
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: space-around;
//         align-items: baseline;
//     }

//     @media screen and (min-width: 1200px) {
//         text-align: left;
//     }
// }

// .footer__logo {
//     color: #2196f3;
//     display: inline-block;
//     margin-bottom: 20px;

//     &--color {
//         color: #ffffff;
//     }
// }

// .footer__contact {
//     margin-bottom: 60px;

//     @media screen and (min-width: 768px) {
//         margin-bottom: 0;
//     }

// }


// .address {
//     font-style: normal;
// }

// .address__list {
//     list-style-type: none;
// }

// .address__item:not(:last-child) {
//     margin-bottom: 9px;
// }

// .address__link {
//     color: #ffffff;

//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     text-decoration: none;
//     transition: color 250ms $cubic;


//     &.call {
//         color: $text-rgba;

//         font-size: 14px;
//         line-height: 1.71;
//         letter-spacing: 0.03em;

//         transition: color 250ms $cubic;
//     }

//     &:hover,
//     &:focus,
//     &.call:hover,
//     &.call:focus {
//         color: $brand-color;

//     }
// }

// .footer-social {
//     @media screen and (min-width: $desktop) {
//         margin-left: 70px;
//     }
// }

// .footer-social__title {
//     color: $primary-white-color;
//     margin-bottom: 20px;

//     font-weight: 700;
//     font-size: 14px;
//     line-height: calc(16 / 14);
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
// }

// .footer-social__list {
//     @extend %list;
//     display: flex;
//     justify-content: center;
//     gap: 10px;

// }


// .footer-social__link {
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     border-radius: 50%;
//     background-color: $logo-bg-color;

//     transition: background-color 250ms $cubic;

//     width: 44px;
//     height: 44px;

//     &:hover,
//     &:focus {
//         background-color: $brand-color;
//     }
// }

// .footer-social__icon {
//     fill: $primary-white-color;
// }

// .follow {
//     margin-top: 60px;
//     margin-left: auto;
//     margin-right: auto;

//     @media screen and (min-width: $desktop) {
//         margin-top: 0;
//         margin-right: 0;
//     }
// }

// .follow__box {
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     @media screen and (min-width: $desktop) {
//         flex-direction: row;
//         align-items: baseline;
//         gap: 12px;
//     }
// }

// .follow__input {
//     padding-top: 15px;
//     padding-bottom: 15px;
//     padding-left: 16px;
//     margin-bottom: 20px;

//     border: 1px solid rgba(255, 255, 255, 0.3);
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//     border-radius: 4px;
//     background-color: transparent;
//     color: rgba(255, 255, 255, 0.6);

//     font-weight: 400;
//     font-size: 16px;
//     line-height: calc(20 / 16);
//     letter-spacing: 0.03em;

//     @media screen and (min-width: $mobile) {
//         width: 450px;
//     }

//     @media screen and (min-width: $desktop) {
//         width: 358px;
//         margin-bottom: 0;
//     }
// }

// .follow__button {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     cursor: pointer;
// }

// .follow__icon {
//     margin-left: 10px;
// }