/**
  |============================
  | ПОРТФОЛІО КАРТКИ
  |============================
*/

.portfolio__reference {
    text-decoration: none;
    display:flex;
    flex-direction: column;
    height: 100%;
    transition-duration: 250ms;
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__reference:hover,
.portfolio__reference:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__img {
    display: flex;
}
.portfolio__card-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio__photos {
    background-color: #FFFFFF;
    @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 30px) / 2);
        }
    
        @media screen and (min-width:1200px) {
            flex-basis: calc((100% - 60px) / 3);
        }
    
        &:not(:last-child) {
            @media screen and (max-width: 767px) {
                margin-bottom: 30px;
            }
        }
}


.portfolio__description {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    flex-grow: 1;
    padding-right: 24px;
    border: 1px solid rgba(238, 238, 238, 1);
}

.portfolio__subject {
  margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    text-decoration: none;


}

.portfolio__text {
    color: var(--primary-gray-color);
    font-size: 16px;
    line-height: 1.87;
    text-decoration: none;
}
.portfolio__project {
    @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
}


.portfolio__img {
    width: 450px;

    @media screen and (min-width:768px) {
        width: 354px;
    }
    @media screen and (min-width:1200px) {
     width: 370px;
 }

}
