:root {
    --primary-text-color: rgba(255, 255, 255, 0.6);
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --primary-gray-color: #757575;
    --background-color: #2F303A;
    --main-black-color: #000000;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
